adyen==3.0.0
aniso8601==8.0.0
avalara==20.7.1
aws-encryption-sdk==1.4.1
aws-xray-sdk==2.6.0
dacite==1.5.1
git+https://github.com/Lightricks/fortress-python-sdk@0.2.0
git+https://github.com/Lightricks/lt-backend-common.git@1.7.7
git+https://github.com/Lightricks/lt-dynamodb-utils.git@1.6.3
Jinja2==2.11.2
lumigo_tracer==1.1.116
python-dateutil==2.8.1
python-jose==3.2.0
python-json-logger==0.1.11
pyyaml==5.3.1
requests==2.24.0
sentry-sdk==0.16.3
stringcase==1.2.0
